body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
}

.image{
   width: 5rem;
   height: 5rem;

}

.logo_and_text{
    position:absolute;
    top: 30px;
    left:auto;
}